<style type="text/css">
   *{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
   }
   h1{
         color: blue;
       }
   body{
      background: yellow;
   }
   h2{
      color: red;
      font-family: cursive;
      font-weight: 500px;
      text-align: center;
      text-decoration: underline;
   }
   p{
      color: blue;
   }
   a{
      font-size: small;
      text-decoration: none;
   }
   #jerrylist{
      color:green;
   }
   .favlist{
      text-decoration: underline;
   }
   #InsPar{color: orange;}
   span{
      color:green;
      font-size:50pt:;
      font-family: arial;
   }
   #div1{background-color: pink;}

   #div4(background-color: green;)

   #div1, #div4 {border: dashed;}

   form{
      padding: 15px;
      background-color: white;
      font-style: italic;
      border-style: solid;
      font-weight:900px;
      width: 300px;
   }
   input[type=button]:hover{
      border: solid;
      background-color: rgb(0,230,0);
   }
   input{type=text}:focus {
      background-color: rgb(0,330,0);
      color: black;
      width 100%;
      transition: 2s;
      <!- background-color: rgb(0,200,0);
      padding: 5px; -->
   }
   #main{
      width: 600px;
      margin: 0 auto;
   }

   .par2{
      color: black;
   }
   #main2{
      max-width: 600px;
      margin: 0 auto;
   }

   .simple {
      width: 500px;
      margin: 20px auto;
   }

   .fancy{
      width: 500px;
      margin: 20px auto;
      padding: 50px;
      border-width: 10px;
   }
   .static{
      position: static
   }

   .relative1{
      position: relative;
   }
   .relative2{
      position; relative;
      top:-20px;
      left: 20px;
      backgroun-color; white;
      width: 500px;
   }
   .fixed{
      position: fixed;
      bottom: 0;
      right: 0;
      width: 200px;
      background-color: white;
   }
   .relative {
      position: relative;
      width: 600px;
      height: 400px;
   }
   .absolute{
      position: absolute;
      top:  120px;
      right: 0;
      width:300px;
      height: 200px;
   }
   .container {
      position: relative;
   }
   nav {
     position: absolute;
     left: 0px;
     width: 200px;
   }
   section {
     /* position is static by default */
     margin-left: 200px;
   }
   footer {
     position: fixed;
     bottom: 0;
     left: 0;
     height: 70px;
     background-color: white;
     width: 100%;
   }
   body {
     margin-bottom: 120px;
   }
   .box {
     float: left;
     width: 200px;
     height: 100px;
     margin: 1em;
   }
   .after-box {
     clear: left;
   }
   .box {
     float: left;
     width: 200px;
     height: 100px;
     margin: 1em;
   }
   .after-box {
     clear: left;
   }
   .box2 {
     display: inline-block;
     width: 200px;
     height: 100px;
     margin: 1em;
   }

.column {
  display: inline-block;
  vertical-align: top;
  width: 75%;
}
.three-column {
  padding: 1em;
  -moz-column-count: 3;
  -moz-column-gap: 1em;
  -webkit-column-count: 3;
  -webkit-column-gap: 1em;
  column-count: 3;
  column-gap: 1em;
}

</style>