@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body{
  /* background-image: url("img/depositphotos_38408891-stock-photo-seamless-bingo-balls-background.jpg")  ; */
    background-color: #0facaa;
    color: black;
    font-size: 27px;
    font-family: 'Indie Flower', cursive;
    }

#bingoNumTable {
  margin: 40PX;
}
 
.bingoNumRow  {
  background-color: DodgerBlue;
  width: 600px;
  align-content: center;
  }

.bingoNums {
  margin: 0px;
  padding-top: 0px;  
  padding-bottom: 0px;
  font-size: 27px;
  width: 45px;
  text-align: center;
} 

.bingoNumsCalled{
  margin: 0px;
  padding-top: 0px;  
  padding-bottom: 0px;
  font-size: 27px;
  width: 45px;
  text-align: center;
  color: #00FF00;

}

.bingo, th {
  margin: 2px;
  padding-top: 1px;
  font-size: 27px;
  font-weight: 800;
  width: 35px;
  text-align: center;
  color:brown;
} 

#bingoCardTable, #bingoCardTable2 {
  border-collapse: collapse;
  max-height: 720;
}
#cardTables{
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: center
  
}

  /* th, td {   */
.bingoCardNum, th {  
	padding: 20px;
  font-weight: 500;
	border: 2px #666 solid;
	text-align: center;
	width: 19px;
  height: 19px;
  background-color: #0facaa; 
}

#free, .pickedNum, .pickedNum2 {
	background-color: #f66;
  padding: 10px;
	text-align: center; 
	width: 19px;
  border: 2px #666 solid;
}

button{
   font-family: 'Indie Flower', cursive;
   font-weight: 500;
   font-size: 27px;
}

.winningBG {
/* 	lets set it to flash or blink or something */
}



/* https://designshack.net/articles/typography/10-more-great-google-font-combinations-you-can-copy/ */